* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: #D9D9D9;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
}

header {
  background-color:#A6A6A6;
  height: 80px;
  width: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.8);
}

header ul {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 2.3em;
  justify-content: center;
  gap: 200px;
  list-style-type: none;
  font-weight: 700;
  padding-top: 10px;
}

header li:hover {
  color: orange;
}

.presentation-container {
  padding: 70px 280px 80px 200px;
  color: white;
  background: linear-gradient(45deg, #784A8C, #A6A6A6);
}

.presentation-container h1 {
  font-family: 'Taviraj', serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.8em;
  color: black;
}

.presentation-container div {
  font-size: 2em;
  font-family: 'Mate', serif;
}

#profession {
  font-family: 'Oswald', sans-serif;;
  font-weight: 700;
  font-size: 2.5em;
  padding-bottom: 10px;
}

button {
  padding: 10px 15px;
  font-size: 1.2em;
  margin: 35px 0 0 200px;
  cursor: pointer;
  background-color: orange;
  font-weight: 700;
  text-transform: uppercase;
}

.projects-title {
  padding-top: 55px;
}

.cards-container {
  padding: 110px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}

.card-container {
  background:#784A8C;
  border: solid gray 2px;
  padding: 25px;
  color: white;
  position: relative;
  min-height: 810px;
  border-radius: 10px;
}

.wrapper {
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  position: absolute;
  top: 50%;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  background: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  color:black;
}

.wrapper i:first-child {
  left: -23px;
}

.wrapper i:last-child {
  right: -23px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel .dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel .dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  width: 100%;
  margin-left: 14px;
}

.carousel img:first-child{
  margin-left: 0px;
}

.card-info-container {
  padding-top: 20px;
}

.card-details-container {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.card-details-container p {
  padding-bottom: 15px;
  color: white;
}

.card-details-container li {
  margin-left: 25px;
  color: white;
}

.links-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  padding: 10px;
  
}

.links-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 40px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.links-container a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: linear-gradient(-45deg, #ed1c94, #ffec17);
  position: absolute;
  transition: 0.5s;
}

.links-container a:hover::after {
  top: 0;
}

.links-container a:hover div {
  color: white;
}

.links-container a:hover {
  transform: translateY(-10px);
}

.links-container img {
  width: 40px;
  position: relative;
  z-index: 10;
}

.links-container div {
  padding-left: 10px;
  color: black;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

.teck-stack-icons-container {
  display: flex;
  padding: 80px 150px;
  justify-content: space-between;
}

.teck-stack-icons-container div {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}


/*FORM*/
#section-contact h2 {
  padding-bottom: 40px;
}

.contact-form {
  padding-bottom: 60px;
}

.form-container {
  line-height: 2.5em;
  justify-content: center;
  display: grid;
}

.form-container input {
  width: 380px;
  height: 45px;
  border-radius: 7px;
  background-color: rgb(216, 216, 216);
}

.form-container label {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 2.5em;
}

.form-container button {
  margin: 0;
  font-size: 1.5em;
  width: 130px;
  height: 45px;
  background-color: orange;
  font-weight: bold;
  border-radius: 7px;
  text-transform: uppercase;
  justify-self: center;
  margin-top: 35px;
}

.form-container button:hover {
  background-color: #784A8C;
  color: white;
}

.form-field {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-field label {
  justify-self: left;
}

.form-field input {
  justify-self: right;
}

#message {
  height: 120px;
  text-align: start;
}

.form-error {
  color: red;
  display: none;
  font-size: 1.3em;
  text-align: center;
}

.message-success {
  display: none;
}

.visible-hidden {
  display: none;
}

.social-media {
  text-align: center;
  padding-bottom: 30px;
}

.social-media a {
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 1);
}

.social-media a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: linear-gradient;
}

.social-media a:first-child {
  margin-right: 20px;
}

.social-media img {
  width: 40px;
}

footer {
  height: 65px;
  background-color: #0D0D0D;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}